@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700;900&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: "Cairo", ui-sans-serif, system-ui, sans-serif;
}

body {
  @apply bg-gray-50 font-sans;
}
